@model StackedDeck.Models.ForgotPasswordViewModel
@{
    Layout = "";
    @Scripts.Render("~/bundles/jquery")
}

<div id="ForgotPasswordPartial">
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="email" value="@Model.Email" />
        <h4>Enter your Recovery Answer.</h4>
        <hr />
        <div class="form-group">
            <label class="control-label col-md-3">@Model.RecoveryQuestion ?</label>
            <div class="col-md-7">
                @Html.TextBoxFor(m => m.RecoveryAnswer, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.RecoveryAnswer, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10 text-right">
                <input type="submit" class="btn btn-primary" value="Send Recovery Email" />
            </div>
        </div>
    }
</div>