@model StackedDeck.Models.ForgotPasswordPartialViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<div class="container margin-top-sm">
    <h2>@ViewBag.Title</h2>
    <div id="ForgotPasswordPartial">
        @using (Ajax.BeginForm("ForgotPasswordPartial", "Account", new AjaxOptions{ HttpMethod = "Post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "ForgotPasswordPartial" }, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Enter your Email.</h4>
            <hr />
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
                <div class="col-md-7">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="col-md-10 text-right">
                    <input type="submit" class="btn btn-success" value="Validate Email" />
                </div>
            </div>
        }
    </div>
</div>