@model StackedDeck.ViewModels.DiscussionViewModel
<!--Update a list of posts in a thread-->
@foreach (var p in Model.Posts)
{
    <div class="bs-callout bs-callout-primary padding-bottom-none">
        <div class="well well-sm text-left">
            <div class="media">
                <div class="media-left padding-left-none">
                    <div class="thumbnail margin-bottom-none">
                        <img src="@p.Avatar" alt="@p.Username">
                    </div>
                </div>
                <div class="media-body text-left">
                    <div id="PostContent">@p.Content</div>
                </div>
            </div>
            <div class="row margin-top-xs">
                <div class="col-sm-2 text-center">@p.Username</div>
                <div class="col-sm-10 text-right">@p.PostDate</div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-right">@Ajax.ActionLink("Report Post", "ReportPost", "Discussion", new { PostId = @p.Id }, new AjaxOptions { HttpMethod = "Post", OnSuccess = "location.reload()" }, new { @class = "text-black" })</div>
            </div>
            @if (@ViewBag.Delete || User.Identity.Name.ToLowerInvariant() == @p.Username )
            {
                <div class="row">
                    <div class="col-xs-12 text-right">@Ajax.ActionLink("Delete Post", "DeletePost", "Discussion", new { PostId = @p.Id }, new AjaxOptions { HttpMethod = "Post", OnSuccess = "location.reload()" }, new { @class = "text-danger" })</div>
                </div>
            }
        </div>
    </div>
}
